{% extends 'base.html.twig' %}

{% block title %}
 {% if edit is defined %}
        Editar número 
    {% else %}
        Registrar número
    {% endif %}
{% endblock %}

{% block body %}
{% block content %}
    
 <main class="principal principal-xs container">
        <div class="row alto">
        {{ include('includes/subnav.html.twig') }}
        
       <div class="col-8 col-8">
  <h2>
        {% if edit is defined %}
            Editar número 
        {% else %}
            Registrar número {{ catalogue.title }}
        {% endif %}
        
    </h2>
        
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
       </div>
        </div>
    </main>
</div
{% endblock %}
{% endblock %}