{% extends 'base.html.twig' %}

{% block title %}Número{% endblock %}

{% block body %}
    <main class="principal principal-xs container">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/search_issue">Búsqueda</a></li>
                  <li class="breadcrumb-item"><a href="/search_issues/{{ catalogue.id }}">Números</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Número</li>
                </ol>
            </nav>
        </div>
        <div class="row alto">
        {{ include('includes/subnav.html.twig') }}
        
       <div class="col-6">
          
           <h3>Revista:{{ catalogue.title }}</h3>
        <label>Número</label>
        <input type="text" value ="{{ issue.number }}" readonly />
        <label>Título</label>
        <input type="text" value ="{{ issue.title }}" readonly/>
        <label>Fecha</label>
         <input type="text" value ="{{ issue.year ~ '-' ~ issue.month }}" readonly/>
     {% if(issue.cover != null) %}
          {% set cover = issue.cover %}
                        {% else %}
                               {% set cover = "" %}
   {# {% for item in issue.items %}
        {% if item.cover != "" %}
            {% set cover = item.cover %}
        {% endif %}           
    {% endfor %}#}
   {% endif %}
    
      <div id="image">
         {% if cover == ""%}
            <img src={{ asset('assets/images/no_disponible.png') }}>   
         {% else %}
            <img src={{ asset('images/item_images/' ~ cover) }}>
         {% endif %}
     </div>
    {% if app.user and app.user.role == "ROLE_ADMIN" %}
        <table>
            <tr>
                <td class="buttons">
                    <a href="{{ path('edit_issue', {'id':issue.id}) }}" class="confirmar">Editar</a>
                    <a href="{{ path('delete_issue', {'id':issue.id, 'id_catalogue':catalogue.id}) }}" class="confirmar">Eliminar</a>
                </td>
            </tr>
        </table>
    {% endif %}
             </div>
       </div>
    </main>
   {% endblock %}

