{% extends 'base.html.twig' %}

{% block title %}Asignación de Autores{% endblock %}

{% block body %}
    <main class="principal principal-xs container">
        <div class="row alto">
            {{ include('includes/subnav.html.twig') }}
            <div class="col-8 col-8">
                {% if catalogo is defined %}
                    <h2>Asignación de Autores para</h2>"{{ catalogo.title }}"<br/><br/>
                {% else %}
                    <h2>Asignación de Autores</h2><br/>
                {% endif %}
                <form action="{{ path('buscar_autor') }}" method="POST">
                    <label for="search">Buscar: </label>
                    <input type="text" id="search" name="search" value ="" />
                    <input type="submit" value="Enviar" name = "enviar"/>
                </form>
                <br/>
                <br/>

                <!-- /////SÓLO BUSCA AUTORES -->
                {% if authorities|length > 0 %}
                    <table>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo Autor</th>
                            <th>Obras</th>
                            <th>Acciones</th>
                        </tr>
                        {% for author in authorities %}
                            <tr>
                                <td>{{ author.name }}</td>
                                <td>{{ author.typeauth }}</td>
                                <td>{{ author.catalogue|length }}</td>
                                <td class="buttons">
                                    {% if author.typeauth == "Editoriales" %}
                                        <a href="{{ path('asign_autor',{'id':author.id}) }}" class="btn-show">Asignar Editorial</a>
                                    {% else %}
                                        <a href="{{ path('asign_autor',{'id':author.id}) }}" class="btn-show">Asignar Autor</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(paginacion) }}
                    </div>
                {% else %}
                    <p>{{ message }}</p>
                {% endif %}

            </div>
        </div>
    </main>
{% endblock %}