{% extends 'base.html.twig' %}

{% block title %}Busqueda de autores{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Busqueda de Autores</h2>
    <form action="{{ path('buscar_autor',{'id':catalogo.id}) }}" method="POST">
        
        <label for="search">Buscar: </label>
        <input type="text" id="search" name="search" value ="" />
        
        <input type="submit" value="Enviar" name = "enviar"/>
    </form>
    
    {% if catalogo is defined %}
        <p>{{ catalogo.title }}</p>
        {% for authority in catalogo.authority %}
            <p>{{ authority.name }}</p>
        {% endfor %}
    {% endif %}
    
    
    {% if autores|length > 0 %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Tipo Autor</th>
                <th></th>
            </tr>
            {% for autor in autores %}
                <tr>
                    <td>{{ autor.name }}</td>
                    <td>{{ autor.typeauth }}</td>
                    <td class="buttons">
                        <a href="{{ path('select_buscar_autor',{'id':autor.id}) }}" class="btn-show">Añadir</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
    
    
</div>
{% endblock %}