<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}¡Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/css/reset.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div class="login">
{{ dump(last_username) }}
            <section id="section1" class="col-sm-12 col-md-12 col-lg-12">
                
            </section>
            <section id="section2" class="col-sm-12 col-md-12 col-lg-12">
               <section id="section2" class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-4">
             
                    <h2 id="login-titulo">Login de usuarios</h2>

                    {% if app.user %}
                       
                    {% endif %}

                    <form id="form-login" action="{{ path('login') }}" method="POST">
                        <div class="login-campo">
                            <label class="login-etiqueta" for="username">Email: </label>
                            <input class="login-text" type="email" id="username" name="_username" value ="{{ last_username }}" />
                        </div>
                        <div>
                            <label class="login-etiqueta" for="password">Contraseña: </label>
                            <input class="login-text" type="password" id="password" name="_password" />
                        </div>
                        <a class="boton_login" href="javascript: document.forms['form-login'].submit()">Entrar</a>
                        <a class="boton_login" href="/">Volver</a>
                    </form> 
                        
                    {% if error %}
                        <div class="alert">
                            {{ error.messageKey|trans(error.messagedata, 'security') }}
                        </div>
                    {% endif %}
                </section>
            </section>
            <section id="section3" class="col-sm-12 col-md-12 col-lg-12">
                
            </section>
            
        </div>
    </body>
</html>