{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block body %}
    {% block content %} 
        <main id = "principal" class="container contenido-profile">
            <div class="row">
                <section class="col-sm-2 col-md-2 col-lg-2 offset-md-2">
                    <img class="" src="{{ asset('assets/images/perfil_defect.png') }}" alt="Logo por Defecto Perfil" />
                    <a class="btn btn-primary" href="{{ path('edit_profile') }}">Editar</a>
                    <a class="btn btn-danger"  href="{{ path('delete_profile') }}">Borrar</a> 
                </section>
                <section class="col-sm-6 col-md-6 col-lg-6">
                    <h1 id="nombre-profile">{{ user.surname1 }}&nbsp{{ user.surname2 }}, {{ user.name }}</h1>
                    {% if user.role == "ROLE_USER" %}
                        <h3>LECTOR, España</h3>
                    {% else %}
                        <h3>ADMINISTRADOR, España</h3>
                    {% endif %}
                    <h3>{{ user.email }}</h3>
                </section>
            </div>
        </main>
    {% endblock %}
{% endblock %}


