{% extends 'layouts/master.html.twig' %}

{% block title %}Busqueda de autores{% endblock %}

{% block body %}
{% block content %}
<div class="example-wrapper">
    <h2>Busqueda de Libros</h2>
    <form action="{{ path('buscar_catalogue') }}" method="POST">
        
        <label for="search">Buscar: </label>
        <input type="text" id="search" name="search" value ="" />
        
        <input type="submit" value="Buscar" name = "buscar_catalogue"/>
    </form>
    {% if catalogues|length > 0 %}
        <table>
            <tr>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Idioma</th>
            </tr>
            {% for catalogue in catalogues %}
                <tr>
                    <td>{{ catalogue.title }}</td>
                    <td>{{ catalogue.subtitle }}</td>
                    <td>{{ catalogue.language }}</td>
                    <td class="buttons">
                        <a href="{{ path('asign_authors', {'id':catalogue.id}) }}" class="btn-show">Añadir Autor</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
{% endblock %}