{% extends 'base.html.twig' %}

{% block title %}Controlador catalogue{% endblock %}

{% block body %}
 <main class="principal principal-xs container">
   <div class="row alto">
        {{ include('includes/subnav.html.twig') }}
        <br/>
       
       <div class="col-sm-6 col-sm-offset-1"> 
      <h3>{{ catalogue.title }}</h3>
        <label>id</label>
        <input type="text" value ="{{ catalogue.id }}" readonly />
        <label>Título</label>
        <input type="text" value ="{{ catalogue.title }}" readonly/>
        <label>Subtítulo</label>
        <input type="text" value ="{{ catalogue.subtitle }}" readonly/>
        <label>Título traducido</label>
        <input type="text" value ="{{ catalogue.translateTitle }}" readonly/>
        <label>Edición</label>
        <input type="text" value ="{{ catalogue.edition }}" readonly/>
        <label>Año de publicación</label>
        <input type="text" value ="{{ catalogue.yearPublication }}" readonly/>
        <label>Lugar de publicación</label>
        <input type="text" value ="{{ catalogue.placePublication }}" readonly/>
        <label>Tipo de documento</label>
        <input type="text" value ="{{ catalogue.documentType }}" readonly/>
        <label>Descripción física</label>
        <input type="text" value ="{{ catalogue.pages ~ catalogue.cms }}" readonly/>
        <label>Idioma</label>
        <input type="text" value ="{{ catalogue.language }}" readonly/>
        <label>Notas</label>
        <input type="text" value ="{{ catalogue.notes }}" readonly/>
        <label>Número de copias</label>
        {% set number_items = catalogue.items|length  %}
        <input type="text" value ="{{ number_items }}" readonly/>
        
        {% set authors = [] %}
        {% set publishers = [] %}
        {% for author in catalogue.authority %}
            {% if author.typeauth != 'Editoriales' %}
                {% set authors = authors | merge({ name: author.name}) %}
            {% else %}
                {% set publishers = publishers | merge({ name: author.name}) %}
             {% endif %}
        {% endfor %}
         
        <label>Editorial</label>
         {% if publishers|length > 0 %}
        <input type="text" value ="{{ publishers.name }}" readonly/>
        {% else %}
             <input type="text" value ="" readonly/>
        {% endif %}
         <label>Author/es</label>
          {% if authors|length > 0 %}
            {% for author_name in authors %}
                   <input type="text" value ="{{ author_name }}" readonly/>
            {% endfor %}
         {% else %}
             <input type="text" value ="" readonly/>
        {% endif %}
      {% if(user != null) %}
        <table>
        <tr>
            <td class="buttons">
                <a href="{{ path('edit_catalogue', {'id':catalogue.id}) }}" class="btn-show">Editar</a>
                <a href="{{ path('delete_catalogue', {'id':catalogue.id}) }}" class="btn-show">Eliminar</a>
            </td>
        </tr>
        </table>
            {% endif %}
    </div>
  
    {% set cover = "" %}
    {% for item in catalogue.items %}
        {% if item.cover != "" %}
            {% set cover = item.cover %}
        {% endif %}
           
    {% endfor %}
    <div class="col-sm-4 float-right">  
     <div id="image">
         {% if cover == ""%}
            <img src={{ asset('images/item_images/no_disponible.png') }}>   
         {% else %}
            <img src={{ asset('images/item_images/' ~ cover) }}>
         {% endif %}
     </div>
    </div>
     <div class="col-sm-12">
   
     </div>     
            
      </div>
</main>
   {% endblock %}

